{% extends 'base.html' %}

{% block content %}

    <table class="table table table-striped table-bordered">
       <thead>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Players</th>
          <th scope="col">Games</th>
        </tr>
      </thead>
       <tbody>
        {% for team in teams %}
        <tr>
          <th>{{ team[1] }}</th>
          <th><a href="{{ url_for('team.show_players', id=team[0]) }}">link</a></th>
          <th><a href="{{ url_for('games.show_game_for_team', id=team[0]) }}">link</a></th>
        </tr>
        {% endfor %}
       </tbody>
    </table>

{% endblock %}