{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ustalenie meczów do rozegrania{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">

  <form method="post">
            {% if teams|length > 1 %}
              <select name="team_1">
                      {% for team in teams %}
                            <option value="{{ team['team_id'] }}"> {{ team['teamname'] }}</option>
                       {% endfor %}
              </select>
              <select name="team_2">
                       {% for team in teams %}
                            <option value="{{ team['team_id'] }}"> {{ team['teamname'] }}</option>
                        {% endfor %}
              </select>
              <input type="date" name="date">

            <input type="submit" value="Save">
            {% else %}
             <div class="alert alert-danger">
                Przypisz jakiś zespół do turnieju
             </div>
            {% endif %}

  </form>


</div>
{% endblock %}
