{% extends 'base.html' %}

{% block content %}
    <button class="btn"></button>
    <table class="table table-striped table-bordered">
       <thead>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Players</th>
          <th scope="col">Who Play</th>
          <th scope="col">Who Play</th>
        </tr>
      </thead>
       <tbody>
        {% for game in games %}
        <tr>
          <th>{{ game['result'] }}</th>
          <th>{{ game['vs'] }}</th>
          <th><a href="{{ url_for('games.show_who_play', id=game['game_id']) }}">show_who_play</a></th>
          <th><a href="{{ url_for('games.edit_games', game_id=game['game_id']) }}">edit</a></th>
        </tr>
        {% endfor %}
       </tbody>
    </table>

{% endblock %}