{% extends 'base.html' %}

{% block content %}

    <table class="table table table-striped table-bordered">
       <thead>
        <tr>
          <th scope="col">Result</th>
          <th scope="col">Sets</th>
          <th scope="col">Contestant</th>
        </tr>
      </thead>
       <tbody>
        {% for game in games %}
        <tr>
          <th>{{ game['result'] }}</th>
          <th>{{ game['sets'] }}</th>
          <th>{{ game['teams'] }}</th>
        </tr>

  {% endfor %}
       </tbody>
    </table>
{% endblock %}