{% extends 'base.html' %}

{% block content %}

    <table class="table table table-striped table-bordered">
       <thead>
        <tr>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Team</th>
        </tr>
      </thead>
       <tbody>
        {% for player in players %}
        <tr>
          <th>{{ player['firstname'] }}</th>
          <th>{{ player['lastname'] }}</th>
          <th>{{ player['teamname'] }}</th>
        </tr>

  {% endfor %}
       </tbody>
    </table>
{% endblock %}