{% extends 'base.html' %}

{% block content %}

    <table class="table table table-striped table-bordered">
       <thead>
        <tr>
          <th scope="col">Nazwa Turnieju</th>
          <th scope="col">Kto gra</th>
          <th scope="col">Przypisanych zespołów</th>
          <th scope="col">Dodaj grę</th>
        </tr>
      </thead>
       <tbody>
        {% for tournament in tournaments %}
        <tr>
          <th>{{ tournament['tournament_name'] }}</th>
          <th><a href="{{ url_for('tournament.show_tournament', id=tournament['tournament_id']) }}">link</a></th>
          <th>{{ tournament['sum_teams'] }}</th>
          <th><a href="{{ url_for('games.add_teams', tour_id=tournament['tournament_id']) }}">link</a></th>
        </tr>
        {% endfor %}

       </tbody>
    </table>

{% endblock %}