{% extends 'base.html' %}

{% block content %}

    <table class="table table table-striped table-bordered">
       <thead>
        <tr>
          <th scope="col">Tournaments</th>
          <th scope="col">Teams</th>
          <th scope="col">Count Teams</th>
          <th scope="col">Add Teams</th>
        </tr>
      </thead>
       <tbody>
        {% for tournaments in tournaments %}
        <tr>
          <th>{{ tournaments['tournament_name'] }}</th>
          <th><a href="{{ url_for('tournament.show_tournament', id=tournaments['tournament_id']) }}">link</a></th>
          <th>{{ tournaments['sum_teams'] }}</th>
          <th><a href="{{ url_for('tournament.show_tournament', id=tournaments['tournament_id']) }}">link</a></th>
        </tr>
        {% if not loop.last %}
            <hr>
        {% endif %}
        {% endfor %}
       </tbody>
    </table>

{% endblock %}