{% extends 'base.html' %}

{% block content %}

    <table class="table">
       <thead>
        <tr>
          <th scope="col">Tournaments</th>
          <th scope="col">Teams</th>
          <th scope="col">Date of Application</th>
        </tr>
      </thead>
       <tbody>
        {% for team in teams_for %}
        <tr>
          <th>{{ team[1] }}</th>
          <th><a href="{{ url_for('tournament.show_tournament', id=team[0]) }}">link</a></th>
          <th>{{ team[2] }}</th>
        </tr>
        {% if not loop.last %}
        <hr>
      {% endif %}
  {% endfor %}
       </tbody>
    </table>

{% endblock %}